* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "montserrat";
}

html,
body {
  height: 100%;
  width: 100%;
}

#cursor {
  height: 22px;
  width: 22px;
  background-color: #95c11e;
  border-radius: 50%;
  position: fixed;
  z-index: 999;
  transition: all 0.1s;
}

#cursor-blur {
  height: 500px;
  width: 500px;
  background-color: #96c11e2b;
  border-radius: 50%;
  position: fixed;
  filter: blur(40px);
  z-index: 9;
  transition: all 0.2s;
}

#nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  padding: 0 150px;
  height: 145px;
  width: 100%;
  z-index: 99;
}

#nav img {
  height: 75px;
}

#nav h4 {
  font-weight: 500;
}

video {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.37);
}

#page1 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 10;
}

#page1 h1 {
  font-size: 100px;
  font-weight: 600;
  position: relative;
}

#page1 h1::before {
  content: "EAT. DRINK. PLAY.";
  position: absolute;
  color: black;
  top: -4px;
  left: -6px;
  -webkit-text-stroke: 2px #95c11e;
  z-index: -1;
}

#page1 h2 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 18px;
  margin-bottom: 12px;
}

#page1 p {
  font-size: 15px;
  font-weight: 500;
  width: 40%;
}

#page2 {
  height: 100vh;
  width: 100%;
  z-index: 10;
}
